@import url('https://fonts.googleapis.com/css?family=Crete+Round|Poppins');

.form{
    height: 50vw;
}
.img-fluid{
    max-width: 70%;
    height: auto;
    margin-top: 25%;
    margin-bottom: 15%;
}

.col-auto{
    display: flex;
    justify-content: center;
}

.form-control{
    background-color: rgb(5, 218, 242);
    border: rgb(5, 218, 242);
    max-width: 80%;
    height: 15vw;
}

.btn{
    margin-top: 10%;
    background-color: rgb(242, 5, 68);
    border: rgb(242, 5, 68);
    max-width: 80%;
    height: 18%;
    font-size: xx-large;
    margin-bottom: 20%;
}