@import url('https://fonts.googleapis.com/css?family=Crete+Round|Poppins');

.form{
    height: 50vw;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.form-control{
    background-color: rgb(5, 218, 242);
    border: rgb(5, 218, 242);
}

.btn{
    background-color: rgb(242, 5, 68);
    border: rgb(242, 5, 68);
}