<!-- <div class="header">
    <div class="col-md-4">
        <img src="https://raw.githubusercontent.com/renata-msecco/internet-banking-avanade/master/src/app/imagem/logocerto_page-0001-removebg.png"
            alt="logotipo do Banco Retrô bank" class="img-fluid">
    </div>
    <p class="card-text">Agência:123</p>
    <p class="card-text">Conta:123456</p>
</div> -->
<div class="card-header">
      <div>
        <img src="https://raw.githubusercontent.com/renata-msecco/internet-banking-avanade/master/src/app/imagem/logocerto_page-0001-removebg.png"  class="img-fluid">
      </div>
        <div class="card-text">
          <p class="text">Agência: {{agencia}}</p>
          <p lass="text">Conta: {{conta}}</p>
      </div>
</div>