.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F20544;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100vw;
}
.buttonFooter{
    background-color: #F20544;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: none;
}

/* class botão Sair e Home quando há os 2 */
