.rodape {
    position: fixed;
    background-color: #F20544;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
}
.btn{
    background-color: #F20544;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

/* .footer{
    


    background-color: #e9ecef;
    color:#343a40;
    text-align: center;
    padding: 1rem;        
}

.footer .text {
    margin: 0;
} */