<app-header
  [agencia]='this.user.Agencia'
  [conta]='this.user.Conta'
></app-header>
<main>
  <div class="textHome">
    <app-text
      [text]='textMain'
      [class]='classNome'
      [nome]='this.user.Nome'
    ></app-text>
    <app-text
      [class]='textAux'
      [text]='textMsg'
    ></app-text>
  </div>

  <form class="form">
    <div class="main">
      <div class='campoAgencia'>
        <app-text
        [text]='textDaAgencia'
        ></app-text>
        <app-input 
          [type]="textAgencia" 
          [placeholder]="placeholderAgencia" 
          [class]="classInput" 
          [nameInput]="nameInputAgencia"
        ></app-input>
      </div> 
      <div class='campoConta'>
        <app-text
        [text]='textDaConta'
        ></app-text>
        <app-input 
          [type]="textConta" 
          [placeholder]="placeholderConta" 
          [class]="classInput" 
          [nameInput]="nameInputConta"
        ></app-input>
      </div>
      <app-button 
        [type]="submit" 
        [title]="titleBtnProx" 
        [class]="classButton" 
        [nameButton]="nameBtnProx" 
        (click)="ProxTransf()">
      </app-button>
    </div>
  </form>

</main> 
<app-footer
  [class]='classFooter'
  [nameBtn]='nameBtnFooter'
  [titleBtn]='titleBtnFotter'
  [type]='submit'
  (click)='Home()'
></app-footer>
