<app-header
  [agencia]='this.user.Agencia'
  [conta]='this.user.Conta'
></app-header>
<main>
  <app-text
    [name]='this.user.Nome'
    [textMessage]='TextConfirma'
    [class]='styleConfirma'
  ></app-text>
  <app-text
    [name]='this.user.Destinatario'
    [class]='nomeDestinatario'
  ></app-text>
  <app-text
    [class]='styleConf'
    [textMain]='confirma'
  ></app-text>
  <div class='btnStyle'>
  <app-button class='btn btn-danger'
    [type]='submit' 
    [title]='titleBtnAnt' 
    [nameButton]='nameBtnProx' 
    (click)='NoTransf()'>
  </app-button>
  <app-button class='btn btn-info'
    [type]='submit' 
    [title]='titleBtnProx' 
    [nameButton]='nameBtnProx' 
    (click)='YesTransf()'>
  </app-button>
  </div>

</main>
<app-footer
  [class]='classFooter'
  [nameBtn]='nameBtnFooter'
  [titleBtn]='titleBtnFotter'
  [type]='submit'
  (click)='Home()'
></app-footer>