@import url('https://fonts.googleapis.com/css?family=Crete+Round|Poppins');

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10vw;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-fluid{
    width: 20vw;
    height: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
} 

@media screen and (max-width: 400px) {
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10vw;
    }
    .img-fluid{
        width: 60vw;
        height: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
    } 
}