<app-header
  [agencia]='this.user.Agencia'
  [conta]='this.user.Conta'
></app-header>
<main>
  <div class="textHome">
    <app-text
      [text]='textMain'
      [class]='classNome'
      [nome]='this.user.Nome'
    ></app-text>
    <app-text
      [class]='textAux'
      [text]='textMsg'
    ></app-text>
  </div>
  <!-- Verificar o lugar correto desta div -->
  <div class='flexValor'>
  <div class="textSaldo">
    <app-text
      [class]='textAux'
      [text]='textSaldo'
    ></app-text>
 </div>
 <div class="styleValor">
   <app-text
    [class]='valorSaldo'
    [text]='teste'
   ></app-text>
 </div>
</div>
  <app-button
  [class]='btnTransfer'
  [name]='nameBtnTransfer'
  [title]='titleBtnTransfer'
  [type]='submit'
  (click)='showTransfer()'
  ></app-button>
  <app-button
  [class]='btnExtra'
  [name]='nameBtnExtra'
  [title]='titleBtnExtra'
  [type]='submit'
  (click)='showExtra()'
  ></app-button>
</main>
<app-footer
  [class]='classFooter'
  [nameButton]='nameButtonFooter'
  [title]='titleButtonFotter'
  [type]='submit'
  (click)='clicou()'
></app-footer>
