.textNome{
    font-size: 1.8rem;
    color: #276983;
    margin: 0;
    width: 80vw;
    /* background-color: darkseagreen; */
}

.textName{
    font-size: 1.8rem;
    color: #276983;
    width: 80vw;
    margin-left: 30px;
    margin-top: 20px;
}

.textAux{
    /* background-color: darkviolet; */
    color: #276983;
    margin: 0;   
    width: 250px;
    padding: 0;
    margin-left: 40px;
    font-size: 1.1rem;

}

.valorSaldo {
    color: #276983;
    margin: 0;   
    font-size: 2rem; 
    width: 50px;
    margin-right: 100px;
   
}

.styleText{
    color: #276983;
    font-weight: bold;
}

.styleConfirma{
    font-size: 1.6rem;
    color: #276983;
    margin-left: 25px;
    margin-right: 20px;
}

.nomeDestinatario{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(5, 218, 242);
    color: #276983;
    font-weight: bold;
    font-size: 1.8rem;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;

}

.styleConf{
    display: flex;
    justify-content: center;
    color: #276983;
    font-weight: bold;
    font-size: 1.5rem;
}

.textMsg{
    font-size: 1.5rem;
    color: #276983;
    margin-left: 25px;
    margin-right: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.textMainTransf{
    color: #276983;
    font-weight: bold;
    font-size: 1.6rem;
}


app-text{
    margin: 0;
}