
<p class="{{class}}">{{text}} {{nome}}</p>

<p class="{{class}}"> {{name}} {{textMessage}} </p>

<p class="{{class}}"> {{textMain}} </p>

<p class="{{class}}"> {{textTransf}} {{textValor}} {{textPara}} {{nomeDestinatario}}  </p>

<p class="{{class}}"> {{textComprovante}} </p>

<p class="{{class}}"> {{textEm}} {{transfData}} </p> 

<p class="{{class}}"> {{textAgencia}} {{agencia}} {{textConta}} {{conta}} </p> 

<p class="{{class}}"> 
    {{textAgDestinatario}} {{agenciaDestinatario}} {{textContaDestinatario}} {{contaDestinatario}} {{textCpfDest}} {{cpfDestinatario}} 
</p>

<p class="{{class}}"> {{textCifrao}} {{textSaldo}}</p>

<p class="{{class}}"> {{valorText}} {{valor}}</p>





